body{
    background-color:#EAEFEF;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;

}

#site_wrap{
    background-color:#EAEFEF;
    height: 100vh;
    display: grid;
    grid-template-columns: 
    1fr 
    984px
    1fr    
    ;
    grid-gap:50px;
    grid-template-rows: 
    86px /*header*/
    142px /*title*/
    1250px /*profile*/
    350px /*info*/
    99px /*socialmedia*/
    108px /*footer*/
    ;
    grid-template-areas: 
        "header header header"
        ". title ."
        ". featured_profile ."
        ". info ."
        ". socialmedia ."
        "footer footer footer"
}


.header{
    background-color:#CCD9D9;
    grid-area:header;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo{
    max-width:33px;
    height: auto;
    padding-left: 80px;
    display: flexbox;
}

.header .nav{
    /*outline:1px solid blue;*/
    list-style: none;
    padding: 0;
    display: flex;
}

.header .nav a{
    text-decoration:none;
    border:2px solid #f0ffff;
    border-radius:50em;
    /*pill form*/
    color:#f0ffff;
    padding: 0px 20px;
    margin:0 10px;
    display: inline-block;
    /*anchor tags*/

}

.header .nav .homebutton{
    padding: 5px 25px 5px 25px;
}

.header .nav .aboutbutton{
    padding: 5px 25px 5px 25px;
}

.header .nav .resumebutton{
    padding: 5px 25px 5px 25px;
}

.header .nav .portfoliobutton{
    padding: 5px 17px 5px 17px;
}

.header .nav .contactbutton{
    padding: 5px 25px 5px 25px;
}

.title{
    grid-area: title;
    display: flexbox;
}

.title img{
    max-width: 100%;
    height: auto;
    padding-left: 210px;
    padding-right: 210px;
    padding-top: 20px;
}

.featured_profile{
    grid-area:featured_profile;
    display: flexbox;
}

.featured_profile img{
    max-width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.info{
    grid-area:info;
    display: flexbox;
}

.info img{
    max-width: 100%;
    height: auto;
    padding-left: 20px;

}

.socialmedia{
    grid-area: socialmedia;
    display: flex;
    padding: 17px 145px 16px 145px;
}

.ello{
    padding-right: 25px;
}

.email{
    padding-left: 25px;
    padding-right: 25px;
}

.indeed{
    padding-left: 25px;
    padding-right: 25px;
}

.instagram{
    padding-left: 25px;
}

.instagram img{
    max-width: 100%;
    height: auto;
    padding-top: 100px;
}

.footer{
    background-color:#CCD9D9;
    grid-area:footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .logo{
    max-width:33px;
    height: auto;
    padding-left: 80px;
    display: flexbox;
}

.footer .nav{
    /*outline:1px solid blue;*/
    list-style: none;
    padding: 0;
    display: flex;
}

.footer .nav a{
    text-decoration:none;
    border:2px solid #f0ffff;
    border-radius:50em;
    /*pill form*/
    color:#f0ffff;
    padding: 0px 20px;
    margin:0 10px;
    display: inline-block;
    /*anchor tags*/

}

.footer .nav .homebutton{
    padding: 5px 25px 5px 25px;
}

.footer .nav .aboutbutton{
    padding: 5px 25px 5px 25px;
}

.footer .nav .resumebutton{
    padding: 5px 25px 5px 25px;
}

.footer .nav .portfoliobutton{
    padding: 5px 17px 5px 17px;
}

.footer .nav .contactbutton{
    padding: 5px 25px 5px 25px;
}

.footer .nav a:hover, .footer .nav .active{
    background-color:#6C7373;
}

@media screen and (max-width:480px){

    #site_wrap{
        grid-template-areas: 
        "header header header"
        ". title ."
        ". featured_profile ."
        ". info ."
        ". socialmedia ."
        "footer footer footer"
    }

    .featured_profile img{
        padding-left: 0;
    }

    .info img{
        padding-top: 20px;
    }


}